@charset 'UTF-8';

/// 1. Vendors
@import '~include-media/dist/include-media';
@import '~toastr/toastr.scss';
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/'; //bootstrap hack for mpn module
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';
$fa-font-path:  '~font-awesome/fonts' !default;
@import '~font-awesome/scss/font-awesome.scss';
$FontPath: '../assets/fonts/roboto' !default;
@import 'vendor/roboto/roboto';
@import '~bootstrap-social/bootstrap-social.scss';
$flag-icon-css-path: '~flag-icon-css/flags' !default;
$flag-icon-rect-path: '~flag-icon-css/flags/4x3' !default;
$flag-icon-square-path: '~flag-icon-css/flags/1x1' !default;
@import '~flag-icon-css/sass/_flag-icon.scss';

/// 2. Configuration and helpers
@import 'abstracts/color-variables';
@import 'abstracts/text-variables';
@import 'abstracts/settings';
@import 'abstracts/functions';
@import 'abstracts/mixins';

/// 3. Base stuff
@import 'base/base';
@import 'base/typography';

/// 4. Atoms - basic webpage elements

/// 5. Components
@import 'components/form';
@import 'components/language-chooser';
@import 'components/loader';
@import 'components/logged-user';
@import 'components/paper';
@import 'components/spacer';

/// 6. Layout-related sections
@import 'layout/not-found';
@import 'layout/not-authorized';
@import 'layout/main-panel';
@import 'layout/edit-user-wrapper';
@import 'layout/login';
@import 'layout/change-password';

/// 7. Page-specific styles
@import 'pages/homepage';

/// 8. Vendor overrides (CSS for plugins etc.)
@import 'vendor-override/flag';
@import 'vendor-override/toastr';

/// 9. utility classes
@import 'utils/u-colors';
@import 'utils/u-margin';
@import 'utils/u-padding';
