/// Basic web colors
/// This colors shouldn't be called directly in sass files
/// @type Color

//-- colors:start --//
$color-black        : #000000;
$color-white        : #ffffff;
$color-grey         : #eeeeee; // for lightBaseTheme
// $color-grey      : #616161; // for darkBaseTheme
$color-grey-medium  : #555555;
//-- colors:end --//

/// Component colors
/// use this variables in sass partial files
/// @type Color

$shadow-color: $color-grey-medium;