//// This file contains all application-wide Sass functions.

/// Function to calculate proper margin or padding size in order to keep
/// consistent vertical rhythm
@function leading( $lvl: 1) {
  @return $lvl * $base-lh * 1rem;
}

/// Function used to call z-index from z-index map
/// @param {String} $layer - key from z-index map
/// @return {Number}
@function z($layer) {
  @if map-has-key($z-indexes, $layer) {
    @return map-get($z-indexes, $layer);
  } @else {
    @error "`#{$layer}` is not a valid key in `$z-indexes`.";
  }
}

/// Function used to call breakpoint from breakpoint map
/// @param {String} $breakpoint - key from breakpoint map
/// @return {Number}
@function b($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @return map-get($breakpoints, $breakpoint);
  } @else {
    @error "`#{$breakpoint}` is not a valid key in `$breakpoints`.";
  }
}


/// Native `url(..)` function wrapper
/// @param {String} $base - base URL for the asset
/// @param {String} $type - asset type folder (e.g. `fonts/`)
/// @param {String} $path - asset path
/// @return {Url}
@function asset($base, $type, $path) {
  @return url($base + $type + $path);
}

/// Returns URL to an image based on its path
/// @param {String} $path - image path
/// @param {String} $base [$base-url] - base URL
/// @return {Url}
/// @require $base-url
@function image($path, $base: $base-url) {
  @return asset($base, 'images/', $path);
}

/// Returns URL to a font based on its path
/// @param {String} $path - font path
/// @param {String} $base [$base-url] - base URL
/// @return {Url}
/// @require $base-url
@function font($path, $base: $base-url) {
  @return asset($base, 'fonts/', $path);
}
