//// This file contains all application-wide Sass mixins.

/// Box-shadow mixin
@mixin shadow ($color: $color-mid-gray, $shadow-offset: $input-shadow) {
  box-shadow: 0 $shadow-offset 0 $color;
}

/// Clearfix mixin to eliminate non-semantic class clearfix if possible
@mixin clearfix() {
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

/// Text ellipsis mixin
/// @author MKa
@mixin ellipsis-text() {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

///Mixin for really hide :)
@mixin blind() {
  position: absolute !important;
  left: -5000px;
  top: -5000px;
  display: block;
  overflow: hidden;
  width: 0;
  height: 0;
}
