//// This file contains all application-wide Sass variables.

$site-min-width: 320px;
$content-max-width: 1200px;

$panel-max-width: 540px;

$main-panel-padding: 40px;

$login-margin-space: 20px;

$registration-margin-space: 20px;

$password-recovery-margin-space: 20px;

$change-password-margin-space: 20px;

$edit-user-wrapper-margin-space: 10px;

$form-margin-space: 20px;

$homepage-padding: 60px;

$not-found-margin-top: 100px;
$not-found-text-margin: 25px;

$not-authorized-margin-top: 100px;
$not-authorized-text-margin: 25px;

$spacer-height: 15px;

$paper-min-height: 300px;

$paging-table-number-margin: 10px;

/// Asset path
/// Basic path to assets, used for asset function
/// @type String
/// @see {function} asset
$base-url: '../assets/';

/// Z-index map
/// @prop {String} keys - Keys are identifiers mapped to a given z-index
/// @prop {Number} values - Values are actual values of z-index
/// @see {function} z
$z-indexes: (
    'below': -1,
    'zero': 0,
    'base': 1,
    'above': 2,
    'front': 5,
    'tooltip': 20,
    'menu': 100,
    'header': 150,
    'dropdown': 200,
    'overlay': 400,
    'modal': 500,
) !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
$breakpoints: (
  'small': 320px,
  'small-xl': 480px,
  'medium': 768px,
  'large': 1024px,
  'large-xl': 1200px,
  'large-xxl': 1600px
);
