/// Regular font family
/// @type List

//-- typo:start --//
$font-stack:  'Source Sans Pro', 'Arial', sans-serif;
//-- typo:end --//

$root-size: 18;

/// Basic font sizes
$text-smallest: ( 8 / $root-size ) * 1rem; 
$text-smallest-m: ( 10 / $root-size ) * 1rem; 
$text-small: ( 12 / $root-size ) * 1rem; 
$text-small-m: ( 14 / $root-size ) * 1rem; 
$text-small-x: ( 16 / $root-size ) * 1rem;
$text-base: ( $root-size / $root-size ) * 1rem; 
$text-base-m: ( 20 / $root-size ) * 1rem;
$text-base-x: ( 22 / $root-size ) * 1rem; 
$text-base-xl: ( 24 / $root-size ) * 1rem;
$text-large: ( 26 / $root-size ) * 1rem; 
$text-large-m: ( 30 / $root-size ) * 1rem; 
$text-large-x: ( 44 / $root-size ) * 1rem; 

/// Line height
$base-lh: 1.5;
$small-lh: 1.25;
$single-lh: 1;
