.u-margin--vertical-none {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.u-margin--center {
  margin-right: auto !important;
  margin-left: auto !important;
}

$margin-sizes: (
  'none': 0,
  'xxs': 0.1,
  'xs': 0.25,
  's': 0.5,
  'base': 1,
  'l': 1.5,
  'xl': 2,
  'xxl': 3,
  'xxxl': 5
);

@each $code, $size in $margin-sizes {
  .u-margin--right-#{$code} {
    margin-right: leading($size) !important;
  }

  .u-margin--left-#{$code} {
    margin-left: leading($size) !important;
  }

  .u-margin--top-#{$code} {
    margin-top: leading($size) !important;
  }

  .u-margin--bottom-#{$code} {
    margin-bottom: leading($size) !important;
  }
}