$padding-sizes: (
  'none': 0,
  'xxs': 0.1,
  'xs': 0.25,
  's': 0.5,
  'base': 1,
  'l': 1.5,
  'xl': 2,
  'xxl': 3,
  'xxxl': 5
);

@each $code, $size in $padding-sizes {
  .u-padding--#{$code} {
    padding: leading($size) !important;
  }

  .u-padding--right-#{$code} {
    padding-right: leading($size) !important;
  }

  .u-padding--left-#{$code} {
    padding-left: leading($size) !important;
  }

  .u-padding--top-#{$code} {
    padding-top: leading($size) !important;
  }

  .u-padding--bottom-#{$code} {
    padding-bottom: leading($size) !important;
  }
}
