#toast-container > div {
  padding-left: 15px;
}
#toast-container > .toast-info {
  background-image: none !important;
}
#toast-container > .toast-error {
  background-image: none !important;
}
#toast-container > .toast-success {
  background-image: none !important;
}
#toast-container > .toast-warning {
  background-image: none !important;
}