.language-chooser {

}

.language-chooser--out {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  background-color: $color-white;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  border-radius: 0px 0px 0px 2px;
}