.loader {
  position: relative;
}

.loader__background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: z('overlay');

  background-color: $color-grey;
  opacity: 0.85;
}

.loader__body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: z('overlay');

  display: flex;
  justify-content: center;
  align-items: center;
}