.spacer {
  display: block;
  width: 100%;
  height: $spacer-height;
}

.spacer--double {
  height: ($spacer-height * 2)
}

.spacer--triple {
  height: ($spacer-height * 3)
}

.spacer--quadruple {
  height: ($spacer-height * 4)
}