////
/// This file contains basic styles for standalone tags.
////

html {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow: auto;
  min-width: b('small');
}

body {
  margin: 0;
  background-color: $color-grey;
  word-break: break-word;
  min-width: $site-min-width;
}