////
/// Basic typography style for body text
/// Component specific typography settings (eg inputs) is in specific component
////

/// Sets 1rem to 18px (size of $root-size)
:root {
  font-size: percentage( ( $root-size / 16 ) );
}

body {
  font-family: $font-stack;
}

h1, .as-h1 {
  font-weight: normal;
  margin: 0;
}

h2, .as-h2 {
  font-weight: normal;
  margin: 0;
}

h3, .as-h3 {
  font-weight: normal;
  margin: 0;
}

h4, .as-h4 {
  font-weight: normal;
  margin: 0;
}

h5, .as-h5 {
  font-weight: normal;
  margin: 0;
}

h6, .as-h6 {
  font-weight: normal;
  margin: 0;
}