.change-password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: $panel-max-width;
  height: 100vh;
  margin: 0 auto;
}

.change-password h3 {
  margin-bottom: ($change-password-margin-space / 2);
}

.change-password__button-wrap {
  text-align: center;
  margin-top: ($change-password-margin-space / 2);
}

.change-password__button {
  margin: ($change-password-margin-space / 4) ($change-password-margin-space / 2);
}