.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: $panel-max-width;
  height: 100vh;
  margin: 0 auto;
}

.login h3 {
  margin-bottom: ($login-margin-space / 2);
}

.login__wrap {
  text-align: center;
  margin-top: ($login-margin-space / 2);
}

.login__wrap > div {
  display: inline-block;
  margin: ($login-margin-space / 4) ($login-margin-space / 2);
}

.login__wrap--recovery {
  margin-bottom: -($login-margin-space / 4);
}

.login__button {
  margin: ($login-margin-space / 4) ($login-margin-space / 2);
}

.login__link {
  margin: 0 ($login-margin-space / 4 * 3);
}