.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: $panel-max-width;
  margin: $not-found-margin-top auto 0 auto;
  text-align: center;
}

.not-found__text {
  margin-bottom: $not-found-text-margin;
}