.not-authorized {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: $panel-max-width;
  margin: $not-authorized-margin-top auto 0 auto;
  text-align: center;
}

.not-authorized__text {
  margin-bottom: $not-authorized-text-margin;
}